.icon-btn {
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .icon-btn i {
      font-size: 40px;
      transition: all 0.3s ease;
    }

    .link i {
      font-size: 20px;
      color:aliceblue;
    }

    .icon-btn:hover {
      color: white;
    }

    .icon-btn:hover i {
      transform: scale(1.2);
    }
    body{
      background: rgb(228, 228, 228);
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    h1{
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
      font-size: 80px;
    }